{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="Submit" />
</form>
{% endblock content %}