{% extends "base.html" %}

{% block content %}
<h1>Create a New User</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Account" />
</form>
{% endblock %}