{% extends "base.html" %}

{% block content %}
<h1>{% if object %}Edit {{object.title}} {% else %}Create New Blog Post{% endif %}</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Submit" />
</form>
{% endblock content %}