{% extends "base.html" %}

{% block logged_in_nav %}
{% if not has_blog %}
<li><a href="{% url 'new_blog' %}">Create New Blog</a></li>
{% else %}
<li><a href="{% url 'update_blog' pk=blog.pk %}">Edit Blog Settings</a></li>
<li><a href="{% url 'new_blog_post' %}">Create New Blog Post</a></li>
{% endif %}
{% endblock logged_in_nav %}

{% block content %}
<h1>Blog Posts</h1>
<ul>
    {% for post in blog_posts %}
        <li><a href="{% url 'blog_post_details' pk=post.pk %}">{{ post.title }}</a> | <a href="{% url 'update_blog_post' pk=post.pk %}">Edit Post</a></li>
    {% endfor %}
</ul>

{% if shared_posts %}
<h2>Shared Blog Posts</h2>

<ul>
    {% for post in shared_posts  %}
    <li><a href="{% url 'blog_post_detail' pk=post.pk %}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}