<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlueBlog</title>
</head>
<body>
    {% block header %}
    <ul>
        {% if request.user.is_authenticated %}
        {% block logged_in_nav %}{% endblock %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'user_registration' %}">Register Account</a></li>
        {% endif %}
    </ul>
    {% endblock header %}

    {% block content %}
    {% endblock content %}
</body>
</html>